// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
    background-color: #ebeae6
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: "sofia-pro-soft";
}

#master_wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

.l-box {
    padding: 2em;
}
